header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 80px;
    }
    
    nav {
        :first-child {
            margin-right: 20px;
        }
        
        a[class="active"] {
            border-bottom: 3px solid orange;
        }
    }
}